<div class="container">
  <div class="row mt-4">
    <div class="col">
      <img id="imagen" src="assets/eventos.jpg" alt="imagen eventos">
    </div>
    <div class="col">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae laborum nihil nisi ex earum, totam quibusdam ipsam mollitia illum perferendis fugiat modi voluptatibus dignissimos voluptas eos omnis quia fugit doloribus adipisci amet architecto voluptate quas doloremque beatae. Tempora libero fugiat ducimus quasi sunt necessitatibus nihil recusandae eaque. Sed, soluta facere! Itaque exercitationem quo corporis molestiae omnis amet, ad cumque numquam saepe possimus, rem nostrum culpa. Quod veniam explicabo nostrum laboriosam deserunt culpa earum ut omnis enim dicta, ipsum qui error quas sunt quia aperiam ab incidunt maxime, corporis rerum asperiores ducimus? Consequatur rem, eligendi ab itaque dolore eum porro nostrum.</p>
    </div>
  </div>
</div>
