<div class="container">
  <div class="row mt-4">
    <div class="col">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit inventore doloribus, ea natus perferendis necessitatibus deserunt asperiores aliquam dolor reiciendis, facilis delectus quia? Saepe at, obcaecati facilis sequi natus odit. Tempore maiores sint repudiandae magnam quasi deserunt quisquam! Deserunt soluta esse optio at iste fugiat sunt, cumque expedita maxime ullam?
    </div>
    <div class="col">
      <img id="imagen" src="assets/gerardrey.png" alt="imagen gerardrey">    </div>
  </div>
</div>

